<template>
<section id="iq-favorites">
   <b-container fluid>
      <b-row>
         <b-col sm="12" class="overflow-hidden">
            <div class="iq-main-header d-flex align-items-center justify-content-between">
               <h4 class="main-title">Your Favorites</h4>
               <router-link :to="{ name: 'landing-page.movie-category' }" class="text-primary">View all</router-link>
            </div>
            <div class="upcoming-contens">
               <Slick class="favorites-slider list-inline row p-0 mb-0" :option="favOption">

                  <li class="slide-item" v-for="item in favoriteData" :key="item.id">
                     <router-link :to="{ name: 'landing-page.movie-detail',params:{id:item.id} }">

                           <div class="img-box">
                              <img :src="getImageFromApi(item.poster_path)" class="img-fluid" alt="">
                           </div>
                           <div class="block-description">
                              <h6>{{item.title}}</h6>
                              <div class="movie-time d-flex align-items-center my-2">
                                 <div class="badge badge-secondary p-1 mr-2">{{item.vote_average}}</div>
                                 <span class="text-white">{{item.release_date}}</span>
                              </div>
                              <div class="hover-buttons">
                                 <span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                 Play Now
                                 </span>
                              </div>
                           </div>
                     </router-link>
                           <div class="block-social-info">
                              <ul class="list-inline p-0 m-0 music-play-lists">
                                 <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                 <li><button @click="()=>_toggleFavorite(item)"><i class="ri-heart-fill"></i></button>></li>
                                 <li><span><i class="ri-add-line"></i></span></li>
                              </ul>
                           </div>
                  </li>

               </Slick>
            </div>
         </b-col>
      </b-row>
   </b-container>
</section>
</template>
<script>
   import ApiMovies from "@/mixins/movies";


export default {
  name: 'Upcomming',
  data: function() {
    return {
      favoriteData: [],
      favOption: {
        dots: false,
        arrows: false,
        infinite: true,
        speed: 300,
        autoplay: false,
        slidesToShow: 4,
        slidesToScroll: 1,
        responsive: [
          {
            breakpoint: 1200,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 1,
              infinite: true,
              dots: true
            }
          },
          {
            breakpoint: 768,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      }
    };
  },
    created: function () {
     console.log(this.favoriteData)

      this.getMovies()
              .then(  data => {

                 this.favoriteData = data.data.results.slice(0, 4)
                 console.log("movie", this.favoriteData)
              })
              .catch(err => console.log(err));
   },
   components: {
   },
   methods: {
      getImageFromApi (name) {
         return 'https://image.tmdb.org/t/p/w300' + name
      },
      _toggleFavorite: function(favoriteData) {
         console.log("fovorie", favoriteData)
            this.$store.commit('_toggleFavorite',favoriteData)
         }

   },
   mixins: [ApiMovies]


}
</script>
