<template>
  <div>
     <b-container>
        <b-row class="justify-content-center align-items-center height-self-center">
            <b-col lg="5" md="12" class="align-self-center">
              <div class="sign-user_card ">
                  <div class="sign-in-page-data">
                    <div class="sign-in-from w-100 m-auto">
                        <h3 class="mb-3 text-center">Sign in</h3>
                        <sign-in1-form formType="jwt" v-on:login="login"/>
                    </div>
                  </div>
              </div>
            </b-col>
        </b-row>
     </b-container>
  </div>
</template>

<script>
import SignIn1Form from './Forms/SignIn1Form'
import API from '../../../mixins/index'


export default {
  name: 'SignIn1',
  components: { SignIn1Form },
  data: function () {
    return {
        user: {
            email: '',
            password: ''
        },
        authError: null
    }

  },
  mounted () {
    const loggedIn = localStorage.getItem('access_token')
    if (loggedIn !== undefined && loggedIn !== null) {
    //  this.$router.push({ name: 'mini.dashboard.home-2' })
    }
  },
  methods: {



      login: async function (email,password) {

          console.log("-----------------",this.email, password)

          API.login({email,password}).then((data) => {
              console.log("user",data)

              localStorage.setItem('user', JSON.stringify(data));
              this.$router.push('/')
               this.$toasted.show("Connexion success", {
                  theme: "toasted-primary",
                  position: "top-right",
                  duration : 2000,
                   type: "success"
              });
          })

      }
  }
}
</script>
