<template>
	<section class="faq-section">
	    <input type="checkbox" id="q">
	    <label for="q">Comment regarder nerflix sur numéricable ?</label>
                <p>Le nombre de supports pour regarder le SVOD est assez large, mais comme précisé au-dessus certains opérateur comme numéricable ne le permettent pas.

                <p>Vous pouvez profitez des programme en streaming du service à partir d’une connexion Internet et d’un appareil compatible avec Netflix, envoici une liste succinte :</p>
                <p>
                        <ul>
                                <li>smart TV (pré-installé sur la plupart des modèles)</li>
                                <li>lecteurs de streaming (plug and play)</li>
                                <li>smartphones et tablettes (l’un des moyens le plus simple via l’application Window Phone, Androïd ou IOS)</li>
                                <li>ordinateurs, optimisé pour la plupart des navigateurs les plus courants</li>
                        </ul>
                </p>

            <input type="checkbox" id="q1">
            <label for="q1">Sur combien d’appareils peut-on regarder Netflix en même temps ?</label>
            <p>C’est celon le forfait messsieurs dames ! </p>
            <p><ul>
                    <li>écran en définition standard : 7,99€/mois</li>
                    <li>écrans en HD disponible : 9,99€/mois</li>
                    <li>écrans HD et Ultra HD disponibles : 11,99€/mois</li>
            </ul></p>
            <p>Et l’astuce arrive alors avec le terme « en même temps ».</p>
            <p>L’application Netflix est installé sur mon smartphone, ma tablette, ma Wii U et je peux aussi regarder les films et séries depuis mon PC.</p>
            <p>Donc tant que 2 personnes ne regardent pas « en même temps » Netflix, vous pouviez varier régulièrement les supports de lecture ! ;-D</p>

            <p>... Suite de la réponse et paragraphes optionnels ...</p>
	</section>
</template>


<script>
	
</script>








<style>
.faq-section{
margin: 40px 0;
padding-top: 200px;
}

/* Masquer les checkbox et les paragraphes */
.faq-section input,
.faq-section p{
        display: none;
}



/* Si le checkbox est coché, montrer tous les paragraphes */
.faq-section input[type=checkbox]:checked~p{
        display: block;
        color: grey;
        font-size: 1em;
        /* Restaurer le texte entier */
        text-overflow: clip;
        white-space: normal;
        overflow: visible;
}

/* Style des label */
.faq-section label{
        font-size: 1.2em;
        cursor: pointer;
        background: grey;
        display: block;
        position: relative;
        padding: 7px 10px;
        font-weight: bold;
        border: 1px solid #ddd;
        border-left: 3px solid #888;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        transition: all .15s ease-out;
}

/* Éviter de sélectionner le texte en cliquant plusieurs fois */
.faq-section label::selection{
        background: none;
}

.faq-section label:hover{
        background: #f5f5f5;
}

/* Style du label si le checkbox est coché */
.faq-section input[type=checkbox]:checked~label{
        border-color: red;
        background: #f5deb4;
        background-image: linear-gradient(to bottom, red, #f5deb4);
        box-shadow: 0 0 1px rgba(0,0,0,.4);
}

/* Flèche du label par défaut */
.faq-section label::before{
        content: '';
        position: absolute;
        right: 4px;
        top: 50%;
        margin-top: -6px;
        border: 6px solid transparent;
        border-left-color: inherit;
}

/* Flèche du label sélectionné */
.faq-section input[type=checkbox]:checked~label::before{
        border: 6px solid transparent;
        border-top-color: inherit;
        margin-top: -3px;
        right: 10px;
}
</style>