<template>
<footer class="mb-0">
         <div class="container-fluid">
            <div class="block-space">
               <div class="row">
                  <div class="col-lg-3 col-md-4">
                     <ul class="f-link list-unstyled mb-0">
                        <li><router-link :to="{ name: 'landing-page.show-category' }">Movies</router-link></li>
                        <li><router-link :to="{ name: 'landing-page.show-category' }">Tv Shows</router-link></li>
                     </ul>
                  </div>
                  <div class="col-lg-3 col-md-4">
                     <ul class="f-link list-unstyled mb-0">
                       <li><router-link to="/help">Help</router-link></li> 
                        <li><a href="#">About Us</a></li>
                     </ul>
                  </div>
                  <div class="col-lg-3 col-md-4">
                     <ul class="f-link list-unstyled mb-0">
                       <li><router-link to="/faq">FAQ</router-link></li> 
                       <li><router-link to="/contact">Contact Us</router-link></li> 
                     </ul>
                  </div>
                  <div class="col-lg-3 col-md-12 r-mt-15">
                     <div class="d-flex">
                        <a href="https://www.facebook.com/netflixfrance/" class="s-icon">
                        <i class="ri-facebook-fill"></i>
                        </a>
                        <a href="#" class="s-icon">
                        <i class="ri-skype-fill"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/netflix/?originalSubdomain=fr" class="s-icon">
                        <i class="ri-linkedin-fill"></i>
                        </a>
                        <a href="#" class="s-icon">
                        <i class="ri-whatsapp-fill"></i>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="copyright py-2">
            <div class="container-fluid">
               <p class="mb-0 text-center font-size-14 text-body">NETFLIX - 2020 All Rights Reserved</p>
            </div>
         </div>
      </footer>
</template>
<script>

export default {
  name: 'Footer',
  components: {
  },
  mounted () {
  }
}
</script>
